services:
  db:
    image: postgres:16
    environment:
      POSTGRES_USER: fwc_user
      POSTGRES_PASSWORD: fwc_pass
      POSTGRES_DB: fwc_db
    ports:
      - "5433:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data

volumes:
  pg_data:
